@model koukahyosystem.Models.MasterSaitenModel

@{
    ViewBag.Title = "MasterSaiten";
    var grid = new WebGrid(source: Model.saitenlist, rowsPerPage: 20
       );
    if (Model.saitenlist.Count != 0)
    {
        grid.PageIndex = Model.pgindex;

    }
}

<head>
    <style>
        /*button {
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: 0.5px solid #555555;
            border-radius: 4px;
        }*/
        .btncss {
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: 0.5px solid #555555;
            border-radius: 4px;
            width: auto;
            padding: 5px 10px 5px 10px;
        }

        .button:hover {
            background-color: lightblue
        }

        .button:active {
            background-color: lightblue;
            transform: translateY(4px);
        }

        .searchbtncss {
            width: 60px;
            height: 35px;
            margin-right: 10px;
        }

        .clearbtncss {
            height: 35px;
            margin-right: 35px;
        }

        .createbtncss {
            width: 60px;
            height: 35px;
            margin-right: 5px;
        }

        .webgrid- table {
            width: 400px;
            display: table;
            border-collapse: separate;
            border: solid 1px black;
            background-color: white;
            color: black;
        }

        .webgrid-table td, th {
            padding: 3px 7px 2px;
            border: solid 1px white;
        }

        .webgrid-header {
            background-color: skyblue;
            color: black;
            padding-bottom: 4px;
            padding-top: 5px;
            text-align: center;
        }

            .webgrid-header a {
                color: black;
            }

        .webgrid-footer {
        }

        .webgrid-row-style {
            padding: 3px 7px 2px;
        }

        .webgrid-alternating-row {
            background-color: #C1ECFA;
            padding: 3px 7px 2px;
        }

        .webgrid-table thead th {
            text-align: center;
        }

        .webgrid-table tbody td:first-child,
        .webgrid-table tbody th:first-child {
            text-align: center;
        }

        .webgrid-table tbody td:nth-child(3),
        .webgrid-table tbody th:nth-child(3) {
            text-align: left;
            width: 160px;
            max-width: 160px;
        }

        .webgrid-table tbody td:nth-child(4),
        .webgrid-table tbody th:nth-child(4) {
            text-align: left;
            width: 120px;
            max-width: 120px;
        }

        .webgrid-table tbody td:nth-child(5),
        .webgrid-table tbody th:nth-child(5) {
            text-align: right;
            width: 85px;
            max-width: 85px;
        }

        .webgrid-table tbody td:nth-child(6),
        .webgrid-table tbody th:nth-child(6) {
            text-align: right;
            width: 85px;
            max-width: 85px;
        }

        /*.data_tbl {
            border-collapse: separate;
            border-spacing: 0;
            table-layout: fixed;
            
        }*/
        .data_tbl th, td, tr, td {
            text-align:center;
            border: 1px solid #cccccc;
                
        }

        .mdd {
            width: 50%;
        }
        .mycontent {
            height: 59vh;
            overflow: auto;
        }
        .div1{
            display:inline-block;
            width:210px;
            margin-left:20px;
            /*margin-bottom:10px;*/
        }
        .div2 {
            display: inline-block;
            width: 180px;
            margin-bottom: 10px;
            
        }
        .div3 {
            display: inline-block;
            width: 270px;
            margin-bottom: 10px;
        }
        @@media only screen and (max-width: 1024px) {
        }

        @@media screen and (max-width: 768px) {
            /*.searchbtncss {
                width: 50px;
                height: 35px;
            }*/

            /*.clearbtncss {
                height: 35px;
                margin-right: unset;
            }*/

            /*.createbtncss {
                width: 50px;
                height: 35px;
                margin-right: unset;
            }*/

            .mdd {
                width: 100%;
            }
        }

        @@media only screen and (max-width: 576px) {
            .div2{
                margin-left:15px;
            }
            .div3 {
                margin-left: 15px;
            }
        }

        @@media only screen and (max-width: 375px) {

        }

        @@media only screen and (max-width: 320px) {
            
        }

        

        @@media (min-height: 758px) {
            .mdd {
                width: 35%;
            }
            .mycontent {
                height: 70.2vh;
                overflow: auto;
            }
        }
    </style>
    <script type="text/javascript" src=@Url.Content("~/Scripts/jquery-1.12.4.min.js")></script>
    <script>

        $(document).ready(function () {
            $('.modal').on('hidden.bs.modal', function (e) {
                document.getElementById("createBtn").focus();
            });

            //テーブルのセルをクリックすると、ラジオボタンをチェックする
            $('#datatbl tr td').click(function (event) {
               
                var col = $(this).index();
                if (col ==2 || col == 3 ) {
                    var rowIndex = $(this).parent().index();
                    var radcol = col -2;
                    var chk = $(this).closest("tr").find("input:radio").get(radcol);

                    if (event.target != chk) {
                        if (chk.checked == false) {
                            chk.checked = !chk.checked;

                            //if data is changed
                            $(this).closest("tr").find('td:eq(7) input').val("1");
                        }
                    }
                }
                
            });

            $('#datatbl tbody tr td input').change(function () {
                var col = $(this).parent().index();

                if (col == 4 || col == 5 ) {
                    $(this).closest("tr").find('td:eq(7) input').val("1");
                }
            });
        });
        
    </script>
</head>
<body>
    @if (Session["isAuthenticated"] != null)
    {
        <div class="panel panel-info" style="overflow:auto; ">
            @using (Html.BeginForm("MasterSaiten", "MasterSaiten", FormMethod.Post, new { @id = "WebGridForm" }))
            {
                <div class="panel-heading" style="background-color: rgb(34, 148, 172); width:100%">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 " align="center">
                                <h4 style="color:white ; display: inline-block;">採点方法設定</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin:10px;">
                    <div class="container" style="max-width:690px;">
                       
                        <div class="row">
                            <div class="div1">
                                @Html.Label("年度", new { style = "color:black;font-weight: normal !important;margin-right:5px;" })
                                <button name="year_btn" value="<" class="btncss" style="width:29px;height:29px;"><</button>
                                @Html.DropDownListFor(m => m.Ken_year, Model.YearList, new { @id = "year", style = "width:70px;Height:22px;margin-bottom:4px;", onchange = "SelectedIndexChanged()", autofocus = "autofocus" })
                                <button name="year_btn" value=">" class="btncss" style="width:29px;height:29px;">></button>
                            </div>

                            <div class="div2">
                                @Html.LabelFor(m => m.Ken_cKBUN, new { style = " font-weight: normal !important; margin-top:7px;", align = "left" })
                                @Html.DropDownListFor(m => m.Ken_cKBUN, Model.kubunList, "", new { id = "S_sKUBUN", style = "width:100px;margin-left:5px;margin-right:12px;margin-top:13px;" })
                            </div>
                            <div class="div3">
                                <button type="submit" id="searchBtn" name="SaitenBtn" value="search" class="btncss searchbtncss" style="text-align:center; ">検索</button>
                                <button type="submit" id="clearBtn" name="SaitenBtn" value="clear" class="btncss clearbtncss" style="text-align:center; ">クリア</button>
                                <button type="submit" id="createBtn" name="SaitenBtn" value="newEdit" class="btncss createbtncss" style="text-align:center; ">@Model.btnName</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*関数のバックアップ*@
                <div>
                    @Html.HiddenFor(m => m.btnName, new { style = " position: absolute;" })
                    @Html.HiddenFor(m => m.fpopup, new { style = " position: absolute;" })
                    @Html.HiddenFor(m => m.pgindex, new { style = " position: absolute;" })
                    @Html.HiddenFor(m => m.sort, new { id = "sort", style = "position: absolute;" })
                    @Html.HiddenFor(m => m.sortyear, new { id = "sortyear", style = "position: absolute; " })
                    @Html.HiddenFor(m => m.sortkubun, new { id = "sortkubun", style = "position: absolute;v" })
                    @Html.HiddenFor(m => m.sorten, new { id = "sorten", style = " position: absolute;" })
                    <input type="submit" value="pgindex" id="pageindex_btn" name="SaitenBtn" class="button" style=" position: absolute; visibility:hidden" />
                    <input type="submit" value="order" id="sortOrder_btn" name="SaitenBtn" class="button" style=" position: absolute; visibility:hidden" />

                </div>
                @*「新規」もしく「変更」ボタンを押すと、入力画面が表示される*@
                
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" align="center" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog mdd"  style="margin-top:20px; ">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(34, 148, 172);  ">
                                <h4 class="modal-title" id="myModalLabel" style="color:white">採点方法設定画面</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container" style="overflow:auto">
                                    <div class="row">
                                        <table class="data_tbl" id="datatbl" style="margin:10px 10px 10px 10px ;" cellpadding="5" align="center">
                                            <thead @*style="border:1px solid red"*@>
                                                <tr @*style="border:1px solid red"*@>
                                                    <th style=" display:none; "></th>
                                                    <th>区分</th>
                                                    <th>目標設定</th>
                                                    <th>重要タスク設定</th>
                                                    <th>達成率上限</th>
                                                    <th>達成率下限</th>
                                                    <th style=" display:none; ">評価中</th>
                                                    <th style=" display:none; ">変更</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.saitenhouhouList.Count; i++)
                                                {
                                                    var idx = i + 1;

                                                    <tr>
                                                        <td style=" display:none; "> @Html.TextBoxFor(model => model.saitenhouhouList[i].ckubun, new { style = "width:20px;color:black;font-weight: normal !important; ", @tabindex = "-1" })</td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.saitenhouhouList[i].skubun, new { style = "color:black;font-weight: normal !important; border:none;width:150px;outline:none", @readonly = "readonly", @tabindex = "-1" })
                                                            @*@Model.saitenhouhouList[i].skubun*@
                                                        </td>

                                                        <td style=" width:80px; text-align:center;">
                                                            @if (Model.saitenhouhouList[i].fmokuhyou == true)
                                                            {
                                                                @Html.RadioButtonFor(model => model.saitenhouhouList[i].settingval, "fmokuhyoset", new { @checked = "check", style = "width:80px" })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButtonFor(model => model.saitenhouhouList[i].settingval, "fmokuhyoset", new { style = "width:80px" })
                                                            }



                                                        </td>
                                                        <td style="width:120px;  text-align:center;">
                                                            @if (Model.saitenhouhouList[i].fjuuyoutask == true)
                                                            {
                                                                @Html.RadioButtonFor(model => model.saitenhouhouList[i].settingval, "fjuyoutaskset", new { @checked = "check", style = "width:80px" })
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButtonFor(model => model.saitenhouhouList[i].settingval, "fjuyoutaskset", new { style = "width:110px" })
                                                            }


                                                        </td>
                                                        <td style="width:20px;">
                                                            @Html.TextBoxFor(model => model.saitenhouhouList[i].nUPPERLIMIT, new {
                                                           @onkeypress = "return isSpecialKey(event)",
                                                           maxlength = 3,
                                                           style = "width:75px;text-align:right;border:none;"
                                                       })
                                                        </td>
                                                        <td style="width:20px; ">
                                                            @Html.TextBoxFor(model => model.saitenhouhouList[i].nLOWERLIMIT, new
                                                       {
                                                           @onkeypress = "return isSpecialKey(event)",
                                                           maxlength = 3,
                                                           style = "width:75px;text-align:right;border:none;"
                                                       })
                                                        </td>
                                                        <td style=" display:none; ">@Html.TextBoxFor(model => model.saitenhouhouList[i].fhyoukacyuu, new { style = "width:50px;text-align:right;" })</td>
                                                        <td style=" display:none; ">@Html.TextBoxFor(model => model.saitenhouhouList[i].fhenkou, new { style = "width:50px;text-align:right;" })</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               

                            </div>
                            <div class="modal-footer" align="center">
                                <button type="submit" class="btncss" id="hozone" name="SaitenBtn" value="hozone" style="width:60px; height:35px; text-align:center; margin-right:10px;" onclick="msgFunction()">保存</button>
                                <button type="button" class="btncss " data-dismiss="modal" style="height:35px; width:60px;">戻る</button>

                            </div>
                        </div>
                    </div>
                </div>
            }
            @*データ一覧表*@
            <div id="gridContent" align="center" style="margin:15px; " class="mycontent">
                @grid.GetHtml(
                               tableStyle: "webgrid-table",
                               headerStyle: "webgrid-header",
                               footerStyle: "webgrid-footer",
                               alternatingRowStyle: "webgrid-alternating-row",
                               rowStyle: "webgrid-row-style",
                               columns: grid.Columns(
                               grid.Column(header: "No.", format: @<text> <div>   @(item.WebGrid.Rows.IndexOf(item) + 1 + (grid.RowsPerPage * grid.PageIndex)) </div></text>)
                                            , grid.Column(columnName: "dNENDOU", header: "年度")
                                            , grid.Column(columnName: "sKUBUN", header: "区分")
                                            , grid.Column(columnName: "Saiten", header: "採点方法")
                                            , grid.Column(columnName: "nUPPERLIMIT", header: "達成率上限")
                                            , grid.Column(columnName: "nLOWERLIMIT", header: "達成率下限")
                                            ))
            </div>
        </div>

        <script type="text/javascript" src=@Url.Content("~/Scripts/jquery-1.12.4.min.js")></script>
        <script type="text/javascript">

        $(function () {
            /*検索条件、データ順番、ページネーションするとき実行される*/
            $('tfoot a').click(function () {

                var page = this.href.match(/page=([0-9])+/)[1];
                page = page - 1;
                $("#pgindex").val(page);
                $('#pageindex_btn').click();
                return false;
            });

            $('th a').click(function () {
                var link = this.href;
                var linkArr = link.split('?');

                if (linkArr.length == 2) {
                    var linkfir = linkArr[1].split('&');
                    if (linkfir.length == 2) {
                        //sort
                        var sortArr = linkfir[0].split('=');
                        var sort = sortArr[sortArr.length - 1];
                        $("#sort").val(sort);
                        $('#sortOrder_btn').click();
                        return false;
                    }
                }
            });

                @*入力画面を表示するかどうかの範囲*@
            if ('@Model.fpopup' == "True") {
                $('#myModal').modal('show');
                return true;
            }
            else {
                $('#myModal').modal('hide');
            }
        });

        function SelectedIndexChanged() {
            $('#searchBtn').click();
        }

        /*$("#hozone").click(function () {
            var null_count = 0;
            var n1 = document.getElementById("datatbl").rows.length;
            for (var i = 1; i <= n1; i++) {
                document.getElementById("mark_txt" + i).style.border = "";
                var mark_val = document.getElementById("mark_txt" + i).value;

                if (mark_val == "") {
                    null_count++;
                    document.getElementById("mark_txt" + i).style.border = "1px solid #f3172d";
                    event.preventDefault();
                }
            }
            
            if (null_count == 0) {
                if (confirm("変更してよろしいでしょうか？")) {
                    
                } else {
                    
                    event.preventDefault();
                }
            }
           

        });*/

        function isSpecialKey(event) {

            var regex = new RegExp("^[0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

            if (!regex.test(key)) {

                event.preventDefault();
                return false;
            }
            else {
                return true;
            }
         }

            function msgFunction() {
                var table = document.getElementById("datatbl");
                var fblank = false;
                var MaxRow = document.getElementById("datatbl").rows.length;
                var finvalid = false;

                var fmsg = false;
                for (var i = 1; i < MaxRow; i++) {
                    var hyoukacyuu = document.getElementById('datatbl').rows[i].cells[6].children[0].value;  
                    var henkou = document.getElementById('datatbl').rows[i].cells[7].children[0].value;
                    if (hyoukacyuu == "1" && henkou == "1") {
                        fmsg = true
                        break;
                    }                   
                }

                if (fmsg == true) {
                    var r = confirm("評価中の目標評価がリセットされますがよろしいですか？");
                    if (r == false) {
                        event.preventDefault();
                    } 
                }

                for (var i = 1; i < MaxRow ; i++) {                  
                    var val1 = document.getElementById('datatbl').rows[i].cells[4].children[0].value;   
                    
                    if (val1.trim().length == 0) {
                                              
                        $(document.getElementById('datatbl').rows[i].cells[4].children[0]).css('border', '1px solid');
                        $(document.getElementById('datatbl').rows[i].cells[4].children[0]).css('borderColor', '#f3172d');
                        
                        fblank = true;
                    }
                    else {
                        $(document.getElementById('datatbl').rows[i].cells[4].children[0]).css('border', 'none');
                        $(document.getElementById('datatbl').rows[i].cells[4].children[0]).css('borderColor', '');
                    }

                    var val2 = document.getElementById('datatbl').rows[i].cells[5].children[0].value;
                   
                    if (val2.trim().length == 0) {
                        $(document.getElementById('datatbl').rows[i].cells[5].children[0]).css('border', '1px solid');
                        $(document.getElementById('datatbl').rows[i].cells[5].children[0]).css('borderColor', '#f3172d');
                        fblank = true;
                    }
                    else {
                        $(document.getElementById('datatbl').rows[i].cells[5].children[0]).css('border', 'none');
                        $(document.getElementById('datatbl').rows[i].cells[5].children[0]).css('borderColor', '');
                    }
                    var nupperval = parseInt(val1);
                    
                    var nlowerval = parseInt(val2);
               
                    if (nlowerval >= nupperval) {                       
                        finvalid = true;
                        break;
                    }
                    
                }
               
                if (finvalid == true) {
                    alert('達成率下限が達成率上限より大きいしています。調整してください。');
                    event.preventDefault();
                }
                
                if (fblank == true)
                {
                    event.preventDefault();
                }
            }

        </script>
    }
</body>



